@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.img-title {
    width: 100%;
    height: 930px;
}

.img-responsive {
    height: 930px;
    width: 100%;
    filter: blur(5px);
    position: relative;
    z-index: -1;
    background-color: #34383F;
}

.title {
    margin-top: -700px;
    width: 100%;
    height: 200px;
    background-color: transparent;
    z-index: 10;
}

h2.text-img {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: "Poppins";
}

h2.text {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: "Poppins";
}

.icon-title {
    text-align: center;
    color: #fff;
}

i:hover {
    color: #6E70F5;
}

.content {
    background-color: transparent;
    height: 930px;
    width: 100%;
    font-family: "Poppins";
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

.img-responsivev2 {
    background-color: transparent;
    height: 930px;
    width: 100%;
    font-family: "Poppins";
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    z-index: -1;
}

.title-content {
    text-align: center;
    padding-bottom: 10px;
    color: #232323;
    margin-top: -750px;
    z-index: 10;
    font-size: 40px;
}

.text-content {
    text-align: center;
    font-size: 30px;
    color: #181936;
}

.title-content-v2.aos-init.aos-animate {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}

.skills-title {
    font-size: 100px;
    text-align: center;
}

.contentv2 {
    background-color: #2C3E50;
    height: 1500px;
    width: 100%;
    font-family: "Poppins";
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

.container {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.title-content-v3 {
    text-align: center;
    padding-bottom: 10px;
    z-index: 10;
    font-size: 40px;
    padding-top: 50px;
    color: #f3f3f3;
}

h4.card-title {
    font-size: 18px;
    color: #232323;
    font-family: "Poppins";
    text-align: left;
    padding-left: 15px;
}

.card-body {
    background-color: #e5e5e5;
    border-color:#e5e5e5;
}